.odd {
    background-color: palevioletred;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

#two {
    color: blue;
    font-size: 36px;
}

.cooler {
    font-size: 24px;
}

#four {
    background-color: limegreen;
    font-size: 24px;
    font-weight: bold;
}